* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.task-status{
  padding: 5px;
}

.nav-select-wrapper {
     position: relative;
     width: 200px;
}

.nav-select {
     position: relative;
     display: flex;
     flex-direction: column;

     border-width: 2px;
     border-radius: 5px;
     border-style: solid;
     border-color: #d1d1d1;
}

.nav.select:focus{

    border-color: #92a8d1;
}


.nav-select:hover{

  border-color: #92a8d1;
}
 .nav-select_trigger {
     position: relative;

     display: flex;
     align-items: center;

     height: 30px;
     cursor: pointer;

}

.nav-select_trigger::after {
  content: "▾";
  position: absolute;
  line-height: 3.8rem;
  right: 0.8rem;
  color: #999999;
}

 .nav-options {
     position: absolute;
     display: block;
     top: 110%;
     left: 0;
     right: 0;
     border-width: 2px;
     border-radius: 5px;
     border-style: solid;
     border-color: #d1d1d1;

     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     z-index: 2;
}





 .nav-select.open .nav-options {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
}
 .nav-option {
     position: relative;
     display: block;
     padding: 5px 22px;

     cursor: pointer;
}

.nav-option::before{
  content: "●";
  position: relative;
  right: 0.8rem;
  color: #92a8d1;
}

.nav-option:hover {
     cursor: pointer;
     background-color: #d1d1d1;
}
.nav-option:focus {
     background-color: #d1d1d1;
}

@media screen and (max-width: 768px){

  .task-status{
    font-size: 4vW;
  }

  .nav-select-wrapper {
       width: 100%;
       font-size: 6vW;

  }

  .nav-select_trigger{
    height: 10vW;
  }

  .nav-select{

    font-size: 6vW;
  }

}
